body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reusable */

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2e2c5;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    font-size: 24px;
  }
}

/* Hero Section */

.hero-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

.hero-subtitle {
  font-size: 30px;
  margin: 0 5%;
}

.hero-description {
  font-size: 24px;
}

.hero-btn {
  background-color: chocolate;
  padding: 1rem 3rem;
  color: aliceblue;
  border-radius: 5px;
}

/* Menu Page */

.menu-section {
  text-align: center;
}

.menu-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.menuCard {
  width: 28%;
  text-align: center;
  border: #f2e2c5 solid 2px;
  border-radius: 10px;
  padding: 10px;
}

.menuCard img {
  height: 100px;
}

button{
  color: black;
  background-color:#f2e2c5;
  border: none;
  border-radius: 10px;
  padding: 1rem 3rem;
}